@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');



div.page-title {
  margin: 0 0 30px;
}
div.page-title h1 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  margin: 0;
  color: #222;
}



.button-primary,
.button-secondary,
.button-tertiary,
.button-danger {
  display: block;
  height: 40px;
  padding: 0 15px;
  line-height: 38px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  border: 0;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  cursor: pointer;
}
.button-primary {
  background: #994dff;
  color: #fff;
}
.button-secondary {
  background: #9f9f66;
  color: #fff;
}
.button-tertiary {
  background: #ccc;
  color: #fff;
}
.button-danger {
  background: #f44;
  color: #fff;
}



.buttons {
  display: flex;
}
.buttons .button-primary,
.buttons .button-secondary,
.buttons .button-tertiary,
.buttons .button-danger {
  margin: 0 15px 0 0;
}
.buttons .button-primary:last-child,
.buttons .button-secondary:last-child,
.buttons .button-tertiary:last-child,
.buttons .button-danger:last-child {
  margin: 0;
}



div.form-field {
  margin: 0 0 15px;
}
div.form-field label {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 2px;
  color: #999;
}
div.form-field input,
div.form-field textarea {
  display: block;
  border: 0;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  font-family: Lato;
  font-size: 18px;
  border-radius: 3px;
}
div.form-field input {
  height: 40px;
  padding: 0 20px;
}
div.form-field textarea {
  min-height: 100px;
  padding: 15px 20px;
  resize: none;
}



div.form {
  margin: 0 0 30px;
}



div.list {
  margin: 0 0 30px;
}
div.listitem {
  display: flex;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0 0 15px;
  min-height: 75px;
}
div.listitem label.checkbox {
  display: block;
  padding: 15px 20px;
  max-width: 30px;
  background: #f0f0f0;
  cursor: pointer;
}
div.listitem div.text {
  padding: 15px 20px;
  flex-basis: 100%;
}
div.listitem div.text p {
  font-family: Lato;
  color: #444;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
div.listitem div.action {
  padding: 15px 20px;
  display: none;
}
div.listitem:hover div.action {
  display: block;
}



div.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
div.modal-box {
  position: relative;
  min-width: 360px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 50px 50px 20px;
}
